header{
    min-height: 88px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-image: url('/assets/shared/logo.svg');
    background-size: cover;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 24px;
}

#burger-menu {
    background-image: url('/assets/shared/icon-hamburger.svg');
    background-size: auto;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 24px;

}

#menu{
    gap: 19px;
    text-transform: uppercase;
    align-items: center;
    background-color: rgba(255, 255, 255, .04);
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 68vw;
    font-size: 16px;
    backdrop-filter: blur(81.5485px);
    transition: left .5s ease-in-out;

    &.opened{
        left: 32vw;
    }

}

    
.menu-item{
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 2.7px;
    padding: 3px 0;
    &:hover{
        border-right: solid 4px rgba(255, 255, 255, .5);
    }
    &.active{
        border-right: solid 4px #fff;
    }
}




.menu-number{
    padding: 0 11px;
    font-family: 'Barlow';
    font-stretch: condensed;
    color: #fff;
    font-weight: 700;
    margin-left: 32px;
}



#burger-menu-close{
    align-self: flex-end;
    background-image: url('/assets/shared/icon-close.svg');
    width: 20px;
    height: 21px;
    margin: 32px 32px 40px 0;
}

.flex-container{
    display: flex;
    //align-self: stretch;
}

.flex-item{
    color: #fff;
    font-family: 'Barlow';
    font-stretch: condensed;
    font-weight: 100;
    line-height: 17px;

}

@media screen and (min-width: 768px){
    #logo{
        margin-left: 39px;
        margin-top: -4px;
    }

    #menu{
        position: initial;
        right: auto;
        width: auto;
        font-size: 14px;
        height: 100%;
        flex-direction: row;
        align-items: center;
        column-gap: 37px;
        padding: 0 48px;
        &.opened{
            left: auto;
        }
    }

    
    .menu-item{
        height: 100%;
        align-items: center;
        position: relative;
        cursor: pointer;
        //border-bottom: solid 3px transparent;

        &:hover, &.active{
            border-right: none;
        }

        
        &.active::before{
            border-bottom: solid 3px #fff;
            width: 100%;
            left: 0;
        }
    }

    
    .menu-item::before{
        border-bottom: solid 3px rgba(255, 255, 255, .5);
        position: absolute;
        left: 50%;
        bottom: 0;
        content: "";
        width: 0;
        transition: all .2s ease-in-out;
   
    }

    .menu-item:hover::before{
        width: 100%;
        left: 0;
 
    }



}

@media screen and (min-width: 1024px) {
    header{
        margin-top: 40px;
    }
    .menu-number{
        margin-left: 0;
    }
    
}
