* {
    margin: 0;
}

.component{
    height: 100vh;
    overflow: hidden;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/home/background-home-mobile.jpg');
}

app-header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: stretch;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 13fr 1fr;
    grid-template-rows: 88px 5fr 4fr;
    align-items: center;

}

.home-content-container{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}



.home-button-container{
    grid-column: 2;
    grid-row: 3;
    
   
    margin: auto;

    .home-button{
        width: 100%;
    }

    ::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        padding: 50% 0;
        vertical-align: middle;
    }


    button {
        color: #0B0D17;
        border-radius: 50%;
        border-style: hidden;
        height: 100%;
        width: 100%;
        padding: 28px;
        background-color: #fff;
        

        text-transform: uppercase;
        font-family: 'Bellefair';
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1.25px;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px){
    .component{
    background-image: url('/assets/home/background-home-tablet.jpg');
    }
    .grid-container{
        
        grid-template-columns: 1fr 450px 1fr;

        
        button{ 
            font-size: 32px;
            padding: 48px;
        }
    }

}

@media screen and (min-width: 1024px){
    .component{
    background-image: url('/assets/home/background-home-desktop.jpg');
    }
    
}