.component{
    background-image: url('/assets/home/background-home-mobile.jpg');
}

.home-content-container{
    grid-column: 2 / 4;
    grid-row: 2;
    text-align: center;
}



.home-button-container{
    grid-column: 2 / 4;
    grid-row: 3;
    
   
    margin: auto;

    .home-button{
        width: 100%;
    }

    ::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        padding: 50% 0;
        vertical-align: middle;
    }


    button {
        color: #0B0D17;
        border-radius: 50%;
        border-style: hidden;
        height: 100%;
        width: 100%;
        padding: 28px;
        background-color: #fff;
        

        text-transform: uppercase;
        font-family: 'Bellefair';
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1.25px;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px){
    .component{
        background-image: url('/assets/home/background-home-tablet.jpg');
        
        grid-template-columns: 1fr 225px 225px 1fr;
        grid-template-rows: 96px 5fr 4fr;

        
        button{ 
            font-size: 32px;
            padding: 48px;
        }
    }

}

@media screen and (min-width: 1280px) {
    .component{
        background-image: url('/assets/home/background-home-desktop.jpg');

        grid-template-columns: 2fr 7fr 7fr 2fr;
        grid-template-rows: 96px 3fr 1fr;
        align-items: end;
    }

    .home-content-container{
        grid-column: 2 / 3;
        grid-row: 2;
    }
    
    
    
    .home-button-container{
        grid-column: 3 / 4;
        grid-row: 2;
        margin: 0;
        justify-self: end;

        button{
            transition: all .2s ease-in-out;
            &:hover{
                box-shadow: 0 0 0 88px rgba(255, 255, 255, .1);
            }

        }

    }


    
}