<div class="component">
    <app-header></app-header>
    <div class="home-content-container">
        <div class="home-content grid-item flex-container-column">
            <h1>Space</h1>
            <div class="subheading">So, you want to travel to</div>
            <div class="text-content">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</div>
        </div>

        
    </div>
    <div class="home-button-container grid-item">
            <div class="home-button">
                <button routerLink="/destination">Explore</button>
            </div>
            
        
    </div>
</div>