.component{
    background-image: url('/assets/destination/background-destination-mobile.jpg');
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    padding-top: clamp(100px, 53%, 300px);
    max-height: 445px;

}

.image-inner-container{
    width: 100%;
    text-align: center;

    img{
        width: 50%;
        margin: auto;
    }
}

#destination-content{
    display: flex;
    flex-direction: column;
}

.destination-select{
    align-self: center ;
    display: flex;
    gap: clamp(27px,7vw,36px);
    margin-top: 26px;
}


.information-container{
    text-align: center;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
}        

.destination-stats{
    border-top: solid 1px #383B4B;
}

.stats-container{
    text-align: center;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    margin-bottom: 50px;
}

.stat-label{
    font-family: "Barlow";
    margin-top: 32px;
    font-stretch: condensed;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
}

.stat-value{
    font-family: "Bellefair";
    color: #fff;
    margin-top: 12px;
    font-size: 28px;
    font-family: 'Bellefair';
    font-weight: 400;
    line-height: 32px;
}

.distance, .travel-time{
    text-transform: uppercase;
}


.destination-select-item{
    font-family: 'Barlow Thin';
    position: relative;
    cursor: pointer;
    padding-bottom: 11px;

    &.active p{
        color: #fff;
    }

    &.active::before{
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: solid 3px #fff;
        width: 100%;
        left: 0;
    }
}

.destination-text{
    padding-bottom: 32px;
}



@media screen and (min-width: 768px) {
    .component{
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }

    .stats-container{
        display: flex;
        justify-content: space-around;

    }

    .destination-select-item{
        padding-bottom: 15px;
    }

}

@media screen and (min-width: 1280px){
    .component{
        background-image: url('/assets/destination/background-destination-desktop.jpg');
    }


    #page-content{
        flex-direction: row;
        justify-content: space-around;
        > div{
            width: 37%;
        }
    }

    .destination-select-item p {
        font-size: 16px;
    }


    .destination-select-item::before{
        border-bottom: solid 3px rgba(255, 255, 255, .5);
        position: absolute;
        left: 50%;
        bottom: 0;
        content: "";
        width: 0;
        transition: all .2s ease-in-out;
    
    }
    
    .destination-select-item:hover::before{
        width: 100%;
        left: 0;
    
    }

    .image-collection-container{
        grid-column: 3 / 4;
        grid-row: 4 / 7;
        img{
            width: auto;
            max-width: 60vh;
        }
    }
    .image-inner-container{
        text-align: left;
    }

    .destination-select{
        align-self: start;
        justify-self: start;
    }

    .destination-information{
        grid-column: 4 / 5;
        grid-row: 5 / 6;
        .information-container{
            text-align: left;
        }
    }

    .destination-stats{
        grid-column: 4 / 5;
        grid-row: 6 / 7;
        justify-self: start;
        .stats-container{
            text-align: left;
            justify-content: left;
            > div{
                flex-grow: 1;
            }
        }

    }
    
}