.component{
    height: auto;
    min-height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/technology/background-technology-mobile.jpg');
    background-attachment: fixed;
    background-clip: border-box;
}

app-header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    place-self: stretch;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 13fr 13fr 2fr;
    grid-template-rows: 88px repeat(5, auto);
    align-items: center;

}

h5{
    text-align: center;
    grid-column: 2 / span 2;
    span{
        margin-right: 18px;
    }
}

#page-content{
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
}


.technology-select{
    display: flex;
    gap: 16px;
    justify-content: center;
    .technology-select-item{
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        border: solid rgba($color: (#fff), $alpha: .25) 1px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.5s ease-in-out;

        &.active{
            background-color: #fff;
            color: #0B0D17;
            ;
        }
    }
}

.technology-content-collection, .image-collection-container{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 1fr;
    overflow: hidden;

    > div{
        grid-area: 1 / 1 / span 1 / span 1;
        position: relative;
        left: 0%;

        transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

        &.right{
            left: 100%;
            opacity: 0;
        }
        &.left{
            left: -100%;
            opacity: 0;
        }
    }

}

.technology-content-collection{
    width: 85%;
    align-self: center;
    > div{
        text-align: center;
    }
}

.technology-content-header{
    font-family: 'Barlow Thin';
    font-stretch: condensed;
    font-size: 14px;
    letter-spacing: 2.3625px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: 25px;
}

.image-container{
    flex-shrink: 0;
    height: 33vh;
}

@media screen and (min-width: 768px) {
    .component{
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }

    .grid-container{
        grid-template-columns: 4fr 11fr 11fr 4fr;
        grid-template-rows: 96px repeat(5, auto);
    
    }

}

@media screen and (min-width: 1280px) and (min-height: 720px) {
    .component{
        background-image: url('/assets/technology/background-technology-desktop.jpg');
    }

    .grid-container{
        grid-template-columns: 1fr .5fr 4fr 3fr 1fr;
        grid-template-rows: 96px 40px repeat(5, auto);
    
    }

}