<div class="component">
    <app-header></app-header>
    <h5 class="page-title"><span>03</span>Space launch 101</h5>
    <div id="page-content">
        <div class="image-collection-container">
            <div class="image-container flex-container-column" *ngFor="let tech of technologies, let index = index, let isFirst=first"
                                                                id="technology-image-{{index}}" [ngClass]="{'right':!isFirst}"
                                                                style="background: url('{{appComponent.isDesktopLayout?tech.images.portrait:tech.images.landscape}}') no-repeat; background-size: cover;background-position: center center;">
            </div>
        </div>
        <div class="technology-select">
            <div class="technology-select-item" *ngFor="let tech of technologies, let index = index, let isFirst = first" id="technology-select-item-{{index}}" [ngClass]="{'active':isFirst}" (click)="onTechnologyClick(index)">
                {{index + 1 }}
            </div>

        </div>
        <div class="technology-content-collection">
            <div class="technology-content-item" *ngFor="let tech of technologies, let index = index, let isFirst = first" id="technology-content-item-{{index}}" [ngClass]="{'right': !isFirst}">
                <div class="technology-content-header">The terminology…</div>
                <h3 class="technology-name">{{tech.name}}</h3>
                <div class="technology-description text-content">{{tech.description}}</div>
            </div>
        </div>
    </div>
</div>