.component{
    background-image: url('/assets/technology/background-technology-mobile.jpg');
}

#page-content{
    width: 100%;
}

.technology-select{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 34px;
    .technology-select-item{
        font-family: 'Bellefair';
        font-size: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        border: solid rgba($color: (#fff), $alpha: .25) 1px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.5s ease-in-out;

        &.active{
            background-color: #fff;
            color: #0B0D17;
            ;
        }
    }
}

.technology-content-collection, .image-collection-container{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 1fr;
    overflow: hidden;

    > div{
        grid-area: 1 / 1 / span 1 / span 1;
        position: relative;
        left: 0%;

        transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

        &.right{
            left: 100%;
            opacity: 0;
        }
        &.left{
            left: -100%;
            opacity: 0;
        }
    }

}

.technology-content-collection{
    width: 85%;
    align-self: center;
    > div{
        text-align: center;
    }
}

.technology-content-header{
    font-family: 'Barlow Condensed';
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2.3625px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: 25px;
}

.image-container{
    flex-shrink: 0;
    height: 40vw;
    min-height: 170px;
    width: 100%;
    max-height: 600px;
    background-size: cover!important;
    background-position: center center!important;
}

@media screen and (min-width: 768px) {
    .component{
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }

    .technology-select {
        margin-top: 57px;

        .technology-select-item{
            font-size: 24px;
            height: 60px;
            width: 60px;
        }
    }

    .technology-content-header{
        font-size: 16px;
        margin-top: 44px;
        margin-bottom: 16px;
    }

    .technology-content-collection{
        width: 60%;
    }
}

@media screen and (min-width: 1280px){
    .component{
        background-image: url('/assets/technology/background-technology-desktop.jpg');
    }

     #page-content{
        flex-direction: row;
        gap: 80px;
        grid-row: 3/-1;
        grid-column: 2/-1;
        align-self: start;
    }

    .image-collection-container{
        order: 1;
        width: 50%;
        max-width: 520px;
        max-height: 600px;
    }

    .technology-select{
        flex-direction: column;
        margin-top: 0;
        gap: 32px;
        .technology-select-item{
            height: 80px;
            width: 80px;
            font-size: 32px;
            
            &:not(.active):hover{
                cursor: pointer;
                border-color: rgba($color: #fff, $alpha: 1.0);
            }
        }
    }

    .technology-content-header{
        text-align: start;

    }

    .technology-content-collection{
        width: 50%;
        > div{
            text-align: start;
        }
        .text-content{
            width: 70%;
        }
    }

}