/* You can add global styles to this file, and also import other style files */

* {
    font-weight: 400;
    color: #D0D6F9;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Bellefair';
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px;
}

h1 + .subheading{
    font-family: 'Barlow Thin';
    text-transform: uppercase;
    order: -1;
    font-size: 16px;
    line-height: 19px;

}

h2{
    font-family: 'Bellefair';
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Bellefair";
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h4{
    font-family: "Bellefair";
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 8px;

}

h5{
    font-family: "Barlow Thin";
    text-transform: uppercase;
    font-stretch: condensed;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2.7px;
    > span{
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 700;
        opacity: .25;
    }

}

.text-content{
    line-height: 25px;
    font-family: 'Barlow Thin';
    font-size: 15px;
}

.flex-container-column{
    
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px ) {

    * {
        font-size: 16px;
    }

    h1 {
        font-size: 150px;
        padding: 24px;
    }

    h1 + .subheading{
        font-size: 20px;

    }

    h2 {
        font-size: 80px;
        line-height: normal;
    }

    h3{
        font-size: 40px;
    }

    h4{
        font-size: 24px;
    }

    h5{
        font-size: 20px;
        letter-spacing: 3.375px;
        > span{
            font-size: 20px;
        }
    }
    
    .text-content{
        line-height: 28px;
    }
}


@media screen and (min-width: 1280px) and (min-height: 720px) {
    *{
        font-size: 18px;
    }

    h2{
        font-size: 100px;
        line-height: normal;
    }

    h3{
        font-size: 56px;
    }

    h4{
        font-size: 32px;
    }

    h5{
        font-size: 28px;
        letter-spacing: 4.75px;
        > span{
            font-size: 28px;
        }
    }
    
    .text-content{
        line-height: 32px;
    }
}