/* You can add global styles to this file, and also import other style files */

body {
    font-weight: 400;
    color: #D0D6F9;
    margin: 0;
    box-sizing: border-box;
}

.component{
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;

    display: grid;
    grid-template-columns: 2fr 13fr 13fr 2fr;
    grid-template-rows: 88px auto 1fr;
    align-items: center;

}

app-header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    place-self: stretch;
}

.page-title{
    grid-row: 2/span 1;
    grid-column: 2/span 2;
    text-align: center;
    margin: 0;

    span{
        margin-right: 18px;
    }
}

#page-content{
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    width: 85%;
    justify-self: center;
    align-self: stretch;
    margin-top: 32px;
}

h1 {
    font-family: 'Bellefair';
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    margin: .2em 0;
}

h1 + .subheading{
    font-family: 'Barlow Thin';
    text-transform: uppercase;
    order: -1;
    font-size: 16px;
    line-height: 19px;

}

h2{
    font-family: 'Bellefair';
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    margin: .4em 0;
}

h3{
    font-family: "Bellefair";
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h4{
    font-family: "Bellefair";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 8px;

}

h5{
    font-family: "Barlow Thin";
    text-transform: uppercase;
    font-stretch: condensed;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2.7px;
    > span{
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 700;
        opacity: .25;
    }

}

.text-content{
    line-height: 25px;
    font-family: 'Barlow Thin';
    font-size: 15px;
}

.flex-container-column{
    
    display: flex;
    flex-direction: column;
}


.scrollable-collection{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 1fr;
    overflow: hidden;

    > div{
        grid-area: 1 / 1 / span 1 / span 1;
        position: relative;
        left: 0%;
        flex-shrink: 0;
        width: 100%;

        transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

        &.right{
            left: 100%;
            opacity: 0;
        }
        &.left{
            left: -100%;
            opacity: 0;
        }
    }

}

@media screen and (min-width: 768px ) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 120px;
    }

    h1 + .subheading{
        font-size: 20px;

    }

    h2 {
        font-size: 80px;
        line-height: normal;
    }

    h3{
        font-size: 40px;
    }

    h4{
        font-size: 24px;
    }

    h5{
        font-size: 20px;
        letter-spacing: 3.375px;
        > span{
            font-size: 20px;
        }
    }
    
    .text-content{
        font-size: 16px;
        line-height: 28px;
    }

    .component{
        grid-template-rows: 96px auto 1fr;
    }

    .page-title{
        text-align: left;
        margin-top: 40px;
        letter-spacing: 3.375px;
    }
}


@media screen and (min-width: 1280px){
    body {
        font-size: 18px;
    }

    h1{
        font-size: 150px;
    }

    h2{
        font-size: 100px;
        line-height: normal;
    }

    h3{
        font-size: 56px;
    }

    h4{
        font-size: 32px;
    }

    h5{
        font-size: 28px;
        letter-spacing: 4.75px;
        > span{
            font-size: 28px;
        }
    }
    
    .component{
        padding-top: 40px;
        grid-template-columns: 1fr 7fr 1fr;
    }

    .text-content{
        line-height: 32px;
    }

    .page-title{
        margin-top: 76px;
    }
}